@import './styles/variables/variables.css';

@import './styles/atoms/header/header.css';
@import './styles/atoms/buttons/button.css';

@import './styles/molecules/card.css';

body {
  margin: 0;
}

.main {
  position: relative;
}

.select {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 40px;
}
